@font-face {
  font-family: 'Custom';
  src: url('@/assets/fonts/Custom.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom_family {
  font-family: "Custom" !important;
  font-size: 16rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}